.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  margin-top: 0.5rem;
  line-height: 1.8;
}

.container > ul,
.container > div > ul {
  margin-left: 1.8rem;
}

.readMoreButton {
  color: blue;
  background: none;
  border: none;
  cursor: pointer;
}

.readMoreButton:hover {
  text-decoration: underline;
}
