.select {
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid #848484;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.select:hover {
  border-color: #333;
}

.select:focus {
  border-color: #333;
}

.select option {
  font-size: 16px;
  color: #333;
}

.select option:hover {
  background-color: #f9f9f9;
}

.select option:checked {
  background-color: #f9f9f9;
}

.select option:checked:hover {
  background-color: #f9f9f9;
}

.select option:focus {
  background-color: #f9f9f9;
}
